
  html body {
    background-color: white;
    height: auto;
    width: auto;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
  }

  /*---constant theme--*/
  .background {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left:2%;
    padding-right:2%;
    background: url('./images/background.JPG') no-repeat center fixed; 
    background-size: cover;
    background-position: center;
    min-height: 800px;
    height: 100%;
  }

  .padding {
    padding-top: 2%;
    padding-bottom: 7%;
    padding-left: 2%;
    padding-right:2%;
    margin-top: 7%;
    margin-bottom: 7%;
  }

  .padding-2 {
    padding: 0.5%;
  }

  .heading {
    text-align: left;
    color: #202626;
    margin-bottom: 10px;
    font-size: 2.5em; 
    font-weight: 550;
  }

  .heading-2 {
    text-align: center;
    color: #202626;
    margin-bottom: 3%;
    font-size: 2.5em; 
    font-weight: 500;
  }

  .move {
    margin-left: 7.5%; 
    margin-top: 5%;
  }

  /*---index page--*/
  .photoid {
    border-radius: 50px 5px 50px 5px;
    margin-bottom: 5px; 
    align-self: right;
  }

  .buttons {
    color: white;
    margin-bottom: 30px; 
    font-size: 1.5em; 
    font-weight: 450;
    margin-top: 30px;
  }
  
  .buttons li {
      display: inline; 
  }
  
  .buttons li a {
      background: #CAD959; 
      border: white solid 1px; 
      border-radius: 7px;
      color: white; 
      margin-right: 5px;
      margin-top: 30px;
      margin-bottom: 100px; 
      margin-left: 0;
      padding: 14px; 
      text-decoration: none;
      font-size: 0.9em; 
  }
  
  .buttons li a:hover {
      background: white;
      border: 1px solid #CAD959;
      color: #CAD959; 
  }

  /*---about page--*/
  .bio {
      max-width: 400px;
      background: white;
      padding: 20px;
      border-radius: 20px; 
      color: #202626; 
      font-size: 20px;
  }

  /*---project page--*/
  .single-button {
    color: white;
    margin-bottom: 15px;
    margin-top: 15px; 
    font-size: 1.3em; 
    display: inline-block;
  }

  .single-button a {
    color: white;
    margin: 20px auto; 
    font-weight: 550;
    background: #CAD959; 
    border: #CAD959 solid 1px; 
    border-radius: 7px;
    margin-right: 5px;
    padding: 14px; 
    text-decoration: none;
    font-size: 0.9em; 
  }
  
  .single-button a:hover {
      background: white;
      text-decoration: none;
      border: 1px solid #CAD959;
      color: #CAD959; 
  }

  .even {
    background-color: white;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    margin-top: 5%; 
    margin-bottom: 5%;
    padding: 2%; 
    border-radius: 20px;
    color: #202626;
  }

  .odd {
    background-color: white;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    padding: 2%; 
    border-radius: 20px;
    color: #202626;
  }

   /*---honors page--*/

   .title {
    text-align: left;
    margin-bottom: 10px; 
    font-size: 1.7em; 
    font-weight: 550;
  }

  .date {
    text-align: left;
    color:  #8B8989;
    margin-bottom: 5px; 
    font-size: 0.8em; 
  }



